<!DOCTYPE html>
<html ng-app="cs480App">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js" integrity="sha256-QRJz3b0/ZZC4ilKmBRRjY0MgnVhQ+RR1tpWLYaRRjSo=" crossorigin="anonymous"></script>
    <script src="/javascripts/services/restService.js"></script>
	  <script src="/javascripts/controllers/index-control.js"></script>
  </head>
  <body ng-controller="IndexCtrl">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% if ( expressFlash.length > 0 ) { %>
    <center><h2 class="flashMessage <%= flashClass %>">Message: <%= expressFlash %> </h2></center>
    <% } %>

    <p>Zeitplan is a user-friendly web application designed to be the reminder partner you've always needed.</p>
    <p ng-cloak>{{sampleGet}}</p>
    <p ng-cloak>{{samplePost}}</p>
    <p ng-cloak>{{tasks}}</p>

    <table class="table table-striped table-hover table-sm">
      <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Complete</th>
      </tr>
      <tr ng-repeat="task in tasks">
        <th>{{ task.name }}</th>
        <th>{{ task.description }}</th>
        <th>{{ task.isDone }}</th>
        <th><button ng-click="deleteTask(task)">X</button></th>
      </tr>
    </tr>
    </table>

    <form name = "AddTaskForm" method = "POST" action = "/api/tasks"></form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" required ng-model="name">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" ng-model="description">
    </div>
    <div class="form-group">
      <label for="isDone">Complete?</label>
      <select class="form-control" ng-model="isDone">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
    <div class="form-group">
      <input type="submit" value = "submit" ng-click="addTask(Task)">
    </div>
    </form>


    <div class = "container-fluid">
    	<div class="row flex-xl-nowrap">
    		<div class="col-12 col-md-3 col-xl-2 bd-sidebar"></div>
    	</div>
    </div>
  </body>
</html>
